.main {
    padding-top: 1.25rem;
}

.total-count {
    font-weight: 600;
    margin-bottom: 1rem;
}

.pagination {
    list-style: none;
    display: flex;
    gap: 0.625rem;
    justify-content: end;
}

.pagination li {
    cursor: pointer;
}

.pagination li.active {
    font-weight: 900;
    cursor: auto;
}

.pagination li.disabled {cursor: not-allowed;}